/*Font family <start>*/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sh8k5b');
  src:  url('fonts/icomoon.eot?sh8k5b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sh8k5b') format('truetype'),
    url('fonts/icomoon.woff?sh8k5b') format('woff'),
    url('fonts/icomoon.svg?sh8k5b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Font family < end >*/

/* rev_Default <start> */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}
*,*:after,*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a{
  text-decoration: none;
  color: #474747;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
a:hover,
a:active {
  outline: 0;
}
h1, h2, h3, h4{
  font-weight: normal;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input::placeholder{
  color: #000;
  opacity: .7;
}
/* rev_Default < end >*/

/* Icones <start>*/
.icones:before{font-family: "icomoon"; cursor: pointer;}

.icon-reddit1:before {content: "\e900";}
.icon-schedule:before {content: "\e8b5";}
.icon-chat_bubble_outline:before {content: "\e0cb";}
.icon-playlist_add:before {content: "\e03b";}
.icon-subject:before {content: "\e8d2";}
.icon-translate:before {content: "\e8e2";}
.icon-th-menu:before {content: "\e902";}
.icon-thermometer:before {content: "\e905";}
.icon-book1:before {content: "\e901";}
.icon-bar-chart-2:before {content: "\e908";}
.icon-book:before {content: "\e909";}
.icon-book-open:before {content: "\e90a";}
.icon-bookmark:before {content: "\e907";}
.icon-chevron-up:before {content: "\e90b";}
.icon-edit:before {content: "\e903";}
.icon-edit-3:before {content: "\e904";}
.icon-external-link:before {content: "\e90d";}
.icon-flag2:before {content: "\e90e";}
.icon-gift:before {content: "\e90f";}
.icon-moon:before {content: "\e914";}
.icon-x-square:before {content: "\e923";}
.icon-plus-square:before {content: "\e917";}
.icon-rotate-cw:before {content: "\e919";}
.icon-search2:before {content: "\e91a";}
.icon-close:before {content: "\e5cd";}
.icon-sun:before {content: "\e91c";}
.icon-chevron-thin-up:before {content: "\e912";}
.icon-indent-decrease:before {content: "\e916";}
.icon-indent-increase:before {content: "\e920";}
.icon-pencil2:before {content: "\e90c";}
.icon-paragraph-justify:before {content: "\ea7a";}

.icon-external-link:before {
  margin-right: 5px;
}
.icon-reddit1:before,.icon-chat_bubble_outline:before,.icon-thermometer:before {
  margin-right: 5px;
  font-size: .9em;
}
.icon-rotate-cw:before { 
  margin-right: 5px;
}
.icon-search2{
  float: right;
}
span.icon-rotate-cw[data-action]:after{
  z-index: -20;
  opacity: 0;
  content: attr(data-action);
  position: absolute;
  font-size: 0.6em;
  font-weight: bold;
  background: #fff;
  padding: 5px 4px;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  transition: opacity .3s;
}
span.icon-rotate-cw[data-action]:hover:after{
  z-index: 20;
  opacity: 1;
}
.icon-rotate-cw:hover:before{
  opacity: 1;
}
span.icones.icon-close {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  text-align: center;
  line-height: 46px;
  cursor: pointer;
  background: #f9f9f9;
}
#reader span.icon-close{
  position: fixed;
  height: auto;
  width: auto;
  border: none;
  line-height: initial;
}
span#showBar {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 6px 5px 10px;
  z-index: 2;
  cursor: pointer;
  font-size: 1.1em;
}
/* Icones < end >*/

/*Gnr style <start>*/
body{
  font-family: sans-serif,helvetica;
  max-width: 1000px;
  margin:auto;
  color: #474747;
  background: #fbfbfb;
  min-width: 340px;
}
#wrap{
  margin: auto 50px;
  overflow: hidden;
}
#main{
  margin: auto;
  overflow: hidden;
}
#side{
  display: inline-block;
  width: 450px;
  display: none;
}

/*Nest <start>*/
#search_results{
  display: none;
}
.updates li:first-child {
  border-top: 1px solid #e4e4e4;
  padding-right: 30px;
}
/*Nest < end >*/

#switsh {
  position: fixed;
  bottom: 0;
  z-index: 1;
  max-width: 1000px;
  width: 100%;
  overflow: hidden;
}
#switsh ul {
  margin: auto 50px;
  background: #fbfbfb;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 5px;
}
#switsh li{
  margin: 0px 5px;
  text-align: center;
  display: inline-block;
}
input#textfield {
  text-transform: capitalize;
  padding-left: 1px;
  border: none;
  border-bottom: 1px solid #474747;
  letter-spacing: 1px;
  background: #fbfbfb;
}
#switsh li.icon-sun, span#search, #switsh li#top{
  display: none;
}
span#search{
  float: right;
}
header{
  margin: 20px auto;
  position: relative;
  display: flex;
}
header a{
  padding: 14px 3px;
  text-align: center;
  border: 1px solid #e4e4e4;
  position: relative;
}
header h1 {
  font-size: 1.6em;
  letter-spacing: -1px;
  text-transform: lowercase;
  font-weight: bold;
  margin-left: 50px;
  padding: 0 20px;
}
header a img {
  width: 58px;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #e4e4e4;
}
header p{
  display: inline-block;
  padding: 18px 0px;
  font-size: 1.1em;
  border: 1px dashed #e4e4e4;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  flex: 1;
  margin-left: 10px;
}
header input[type="text"] {
  height: 100%;
  margin-right: 10px;
  padding: 15px;
  float: left;
  font-size: 1.5em;
}
.updates {
  margin-bottom: 50px;
}
.updates li {
  padding: 10px;
  border-bottom: 1px solid #e4e4e4;
  overflow: hidden;
  position: relative;
}
.updates h1 {
  word-spacing: -3px;
  font-size: 1.5em;
  text-transform: capitalize;
  display: inline-block;
}
.updates h2{
  text-transform: capitalize;
  font-size: 1.3em;
  display: inline-block;
}
#novellist h5{
  text-transform: capitalize;
  padding: 6px 0px;
}
#novellist ul li:first-child{
  cursor: initial;
}
.updates a h3 {
  margin: 5px 0px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 1.1em;
}
img#spin {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  background: #f6f6f6;
}
img#load{
  width: 16px;
  float: right;
  margin-left: 10px;
}
#search_results span img#load, #novelinfo span img#load{
  right: 35px;
}
.updates a{
  margin-right: 10px;
  transition: color .2s;
  display: table;
}
li.bestmatch a {
  margin-right: 0;
  padding: 2px 0px;
}
.updates a span.icones {
  padding-right: 10px;
}
span.numbers {
  opacity: 0.2;
  font-weight: bold;
  letter-spacing: -1px;
  position: absolute;
  right: 15px;
  bottom: 25px;
  transform: scale(2.5);
  color: #666666;
}
p#date {
  font-size: 0.6em;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 2px 4px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #e5e5e5;
  border-bottom: none;
}
span.read{
  margin-left: 10px;
}
span.bookups, span.read, span.error, span.icones.icon-th-menu {
  float: right;
  font-size: 1.1em;
}
span.bookups{
  margin-left: 10px;
}
span.error {
  margin-right: 10px;
  color: #f36363;
  opacity: 1;
  font-weight: bold;
  font-size: 0.9em;
}
#search_results span.numbers{
  bottom: 20px;
  transform: scale(1.4);
}
#search_results a h3 {
  margin-bottom: 0;
}
span.globoscorescore {
  font-weight: bold;
}
#reader{
  position: absolute;
  top: 0; left: 0;
  background: #fbfbfb;
  z-index: 3;
  width: 100%;
  display: none;
  min-width: 360px;
}
.text{
  width: 960px;
  margin: auto;
  padding: 30px 25px;
  font-size: 1.2em;
  line-height: 1.5em;
  background: #fbfbfb;
  overflow: hidden;
  box-shadow: 0px 0px 6px 1px #efefef;
}
#reader ul {
  margin-bottom: 10px;
}
#reader ul li a {
  display: block;
  padding: 5px;
  padding-left: 10px;
  border-bottom: 1px solid #e5e5e5;
}
#reader ul li:first-of-type{
  border-top: 1px solid #e5e5e5;
}
.text h4 span {
  padding: 5px 9px 5px 7px;
  margin-right: 10px;
  font-size: 0.6em;
  border-radius: 3px;
  border: 1px solid #e5e5e5;
}
.text h2, .text h3, .text h4 {
  text-transform: capitalize;
}
.text h2, .text h3{
  padding: 10px;
}
.text h2 {
  padding-top: 0;
  display: inline-block;
}
span.icones.icon-th-menu {
  float: right;
}
.text h3 {
  background: #f6f6f6;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
#reader p{
  padding: 7px 10px;
  text-align: justify;
}
#novelinfo{
  display: none;
}
#novelinfo li:nth-child(2), #novelinfo li:nth-child(4){
    background: #f6f6f6;
}
#novelinfo ol#tocorder li{
  background: transparent;
}
#novelinfo ul li p {
  padding: 3px 0px;
  text-align: justify;
  line-height: 1.3em;
}
span.noveldata {
  float: left;
  padding: 5px;
  width: 70%;
}
li#showsynop, li#showtoc, li#loadnext{
  cursor: pointer;
}
li#loadnext{
  background: #f6f6f6;
}
li#synop {
  display: none;
}
img#cover {
  position: initial;
  width: 180px;
  border: 7px solid #e8e8e8;
  outline: 5px solid #cccccc;
  outline-offset: -12px;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}
li#toc{
  padding: 0;
}
ol#tocorder li {
  float: left;
  width: 50%;
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
  cursor: pointer;
  margin: 1px 0px;
  border-top: 1px solid #e4e4e4;
}
#updates ol#tocorder li:nth-child(2n+1),#novelinfo ol#tocorder li:nth-child(2n){
  border-left: none;
}

#updates ol#tocorder li:first-child{
  /*width: 100%;
  border: none;
  cursor: initial;
  background: #fdfdfd;
  margin-top: 2px;*/
  width: 100%;
  cursor: initial;
  background: #f6f6f6;
  margin-top: 2px;
  border: none;
  padding-left: 15px;
}
ol#tocorder li:nth-child(6){
  padding: 10px;
}
ol#tocorder li h4{
  display: inline-block;
}
span#num {
  color: #909090;
  margin-right: 10px;
  width: 25px;
  display: inline-block;
  padding: 4px 0px;
  text-align: center;
  font-size: 0.8em;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
span#date, .noveldata span[data-link] span {
  text-transform: uppercase;
  font-size: 0.6em;
  border: 1px dotted #e4e4e4;
  border-left: 3px solid #e2e0e0;
  margin-left: 10px;
  background: #fdfdfd;
  padding: 2px 10px;
  padding-left: 10px;
  border-radius: 0px 3px 3px 0px;
  color: #717171;
}
.noveldata span[data-link] span {
  float: right;
  padding: 0 10px;
}
.noveldata span[data-link] {
  display: inline-block;
  background: #f9f9f9;
  padding: 3px 5px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}
.icon-translate:before,
.icon-bar-chart-2:before,
.icon-flag2:before,
.icon-schedule:before,
.icon-edit-3:before{
  margin-right: 3px;
  cursor: initial;
}
.icon-book1:before {
  margin-right: 5px;
  font-size: 0.7em;
}
.icon-th-menu:before,
.icon-subject:before,
.icon-plus-square:before{
  margin-right: 3px;
}
/*Gnr style < end >*/

/*Hover <start>*/
.updates li:hover p#date{
  background: #2eabe5;
  color: #fff;
  border-color: #2eabe5;
}
.updates li:hover span.bookups, .updates li:hover span.read{
  opacity: 1;
  color: #2eabe5;
}
.updates a:hover{
  color: #2eabe5;
}
.updates li:hover .numbers{
  color: #2eabe5;
  opacity: 1;
}

/*Hover < end >*/

/*night mode <start>*/
body.night,
header a.night,
header p.night,
#switsh ul.night,
input#textfield.night,
#updates.updates.night li,
#search_results.updates.night li,
#novellist.updates.night li,
#novelinfo.updates.night li,
#reader.night,
.text.night,
.text.night h3,
#reader span.icon-close.night,
#updates.night ol#tocorder li:first-child,
#updates.night span.icon-rotate-cw[data-action]:after,
.updates.night p#date,
#updates.night ol#tocorder li:nth-child(2n+1),
#novelinfo.night ol#tocorder li:nth-child(2n){
  color: #717d8b;
  background: #1c2939;
  border-color: #28374a;
}
.updates.night span#date, .updates.night span[data-link] span{
  background: #253447;
  color: #717d8b;
  border: none;
  border-left: 2px solid #2e414c;
}
.updates.night span#num, .text.night h4 span{
  background: #253447;
  border: none;
  color: #2eabe5;
}
.updates.night span.icones.icon-close,
.updates.night img#spin{
  background: #213144;
  color: #2eabe5;
  border-color: #28374a;
}
#reader.night ul li a,
#reader.night ul li:first-of-type,
.updates.night ol#tocorder li h4{
  color: #2eabe5;
  border-color: #28374a;
}
header a.night, header a img.night{
  border: 1px solid #28374a;
}
.updates.night a{
  color: #717d8b;
}
.text.night{
  box-shadow: 0px 0px 6px 1px #17222f;
}
.text.night h2{
  color: #cecece;
}
.text.night h3 {
  background: #253447;
  border-color: #28374a;
  color: #2eabe5;
}
input#textfield.night{
  border-bottom: 1px solid #364961;
}
.night input::placeholder{
  color: #717d8b;
}
.updates.night img#cover{
  border: 7px solid #16212d;
  outline: 5px solid #101821;
}
/*hover night mode >*/
.updates.night a:hover{
  color: #2eabe5;
}
span.numbers.night{
}
/* </ hover night mode*/

/*.night li, .night p, .night input[type="text"]{
  background: #000;
}
.night ul li {
  border-bottom: 1px solid #848484;
  text-shadow: none;
}
.night input[type="text"]{
  border: 1px solid #848484;
}
.updates.night li:first-child {
  border-top: 1px solid #848484;
}*/
/*night mode <end>*/

@media only screen and (max-width: 960px) {
  .text {width: initial;}
}
@media only screen and (max-width: 900px) {
  header p {
    font-size: 1em;
    letter-spacing: initial;
  }
  .updates h1{
    white-space: nowrap;
  }
}
@media only screen and (max-width: 780px) {
  ol#tocorder li{width: 100%; font-size: 0.9em;}
  #updates ol#tocorder li:nth-child(2n+1), #novelinfo ol#tocorder li:nth-child(2n){
    border-left: 1px solid #e4e4e4;
  }
  img#cover{
    outline: none;
    width: 150px;
  }
  header {
    display: block;
    margin: 10px auto;
  }
  header a{
    display: block;
  }
  header p{
    padding: 0;
    border: none;
    margin: 0;
    display: block;
    margin-top: 11px;
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 700px) {
  span.noveldata{width: 60%;}
  header p{
    font-size: .8em;
  }
  .text {padding: 20px 15px;}
  #reader ul li a{font-size: .9em; padding: 0;}
}
@media only screen and (max-width: 600px) {
  #wrap{
    margin: auto;
  }
  img#cover{
    position: absolute; right: 5px;
    width: 120px;
    border: 3px solid #ccc;
    border-radius: 3px;
  }
  span.noveldata{width: 100%}
  .text h2{font-size: 1.2em;}
  .text h3{font-size: 1.1em;}
  .text h2,.text h3{padding: 5px;}
}
@media only screen and (max-width: 500px) {
  .updates li{padding: 6px}
  .updates h1{font-size: 1.3em;}
  .updates h2{font-size: 1.1em;}
  .updates a h3{font-size: 1em; margin: 2px 0;}
  .updates a span.icones{font-size: .8em; padding-right: 5px;}
  span.bookups, span.read, span.error, span.icones.icon-th-menu{font-size: 1em; margin-left: 5px;}
  span.numbers{transform: scale(1.5); bottom: 20px;}
  p#date{font-size: 0.5em;}
  span.icon-rotate-cw[data-action]:after{padding: 5px 2px;}
  span#date, .noveldata span[data-link] span{font-size: 0.5em;}
  #switsh ul{margin: auto;}
  span#showBar{bottom: 30px}
  #search_results span.numbers {bottom: 12px; transform: scale(1); right: 6px;}
  .text {padding: 5px;}
  #reader p{padding: 5px 3px;}
  img#spin, span.icones.icon-close{width: 38px;}
  span.icones.icon-close{line-height: 36px; font-size: 0.9em;}
  .updates.night img#cover{outline: none; border: 3px solid #101821;}
}
@media only screen and (max-width: 400px){
  .text h2{font-size: 1.1em;}
  .text h3{font-size: 1em;}
  .text h2,.text h3{padding: 0;}
  #reader p{font-size: 0.9em;}
}