/*Font family <start>*/

@font-face {
  font-family: 'link';
  src: url('font/link.eot?80985889');
  src: url('font/link.eot?80985889#iefix') format('embedded-opentype'),
       url('font/link.woff2?80985889') format('woff2'),
       url('font/link.woff?80985889') format('woff'),
       url('font/link.ttf?80985889') format('truetype'),
       url('font/link.svg?80985889#link') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*Font family < end >*/

/* rev_Default <start> */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}
*,*:after,*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a{
  text-decoration: none;
  color: #fff;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
a:hover,
a:active {
  outline: 0;
}
h1, h2, h3{
  font-weight: normal;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input::placeholder{
  color: #fff;
  opacity: .6;
}
/* rev_Default < end >*/

/* Icones <start>*/
.icones:before{font-family: "link";}

.icon-reddit:before { content: '\e801'; }
.icon-search:before { content: '\e802'; }
.icon-up:before { content: '\e803'; }
.icon-light:before { content: '\e806'; }
.icon-night:before { content: '\e807'; }
.icon-fire:before { content: '\e809'; }
.icon-th:before { content: '\e80a'; }
.icon-refresh:before { content: '\e80b'; }
.icon-cancel:before { content: '\e80d'; }
.icon-link:before { content: '\f08e'; margin-right: 5px; color: #FFEB3B;}
.icon-commento:before { content: '\f0e6'; }
.icon-thermo:before { content: '\f2c7'; }


.icon-reddit:before,.icon-commento:before,.icon-thermo:before {
  margin-right: 5px;
  font-size: .9em;
}
p.icon-search {
  font-size: 1.6em;
  color: #FFEB3B;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.icon-refresh:before { 
  content: '\e80b';
  margin-right: 5px;
  color: #FFEB3B;
  opacity: .9;
  transition: opacity .3s;
}
span.icon-refresh[data-action]:after{
  z-index: -20;
  opacity: 0;
  content: attr(data-action);
  position: absolute;
  color: #525252;
  font-size: 0.6em;
  font-weight: bold;
  text-shadow: none;
  background: #fbfcfe;
  padding: 5px 3px;
  border: 1px solid #c5c5c5;
  border-radius: 2px;
  transition: opacity .3s;
}
span.icon-refresh[data-action]:hover:after{
  z-index: 20;
  opacity: 1;
}
.icon-refresh:hover:before{
  opacity: 1;
}
span.icones.icon-cancel {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1em;
  line-height: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  color: #feec4e;
  text-shadow: none;
}
/* Icones < end >*/

/*Gnr style <start>*/
body{
  background: url('imgs/geo2.png');
  font-family: sans-serif,helvetica;
  color: #fff;
}
#wrap{
  width: 1200px;
  margin: auto;
  overflow: hidden;
}
#main{
  width: 700px;
  margin: auto;
  float: left;
  overflow: hidden;
  margin-right: 50px;
}
#side{
  display: inline-block;
  width: 450px;
}

/*Nest <start>*/
header a,.updates li, header input[type="text"], p.icon-search{
  background:
  linear-gradient(45deg, #2196F3 0%, hsla(339, 98%, 50%, 0) 70%), 
  linear-gradient(315deg, #3F51B5 10%, hsla(15, 98%, 42%, 0) 80%), 
  linear-gradient(225deg, #3F51B5 10%, hsla(182, 96%, 41%, 0) 80%), 
  linear-gradient(135deg, #673AB7 100%, hsla(257, 93%, 46%, 0) 70%);
  opacity: .9;
}
header a, #search input[type="text"], p.icon-search{
  border-radius: 5px;
}
#search_results, #novelsearsh{
  display: none;
}
.icones {
  cursor: pointer;
}
/*Nest < end >*/

.switsh {
  position: fixed;
  top: 15px;
  right: 12px;
  z-index: 999;
}
.switsh ul li{
  color: #000;
  font-variant: small-caps;
  margin-bottom: 5px;
  padding: 6px;
  text-align: center;
  border: 1px solid #000;
}
#top{
  display: none;
}
header{
  margin: 50px auto;
  height: 60px;
  overflow: hidden;
}
header a{
  display: inline-block;
  position:relative;
}
header h1 {
  float: left;
  font-size: 1.6em;
  letter-spacing: -1px;
  color: #fbfcfe;
  display: inline;
  padding: 16px 16px 16px 5px;
  text-transform: lowercase;
  font-weight: bold;
}
header a img {
  width: 60px;
  float: left;
  border-radius: 5px 0 0 5px;
}
header a:after {
  width: 100%;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #4c5dce 0%,rgba(255,255,255,0) 80%);
  height: 100%;
  z-index: -1;
  border-radius: 5px;
}
div#confiozesearsh {
  display: inline;
}
div#search {
  height: 60px;
  overflow: hidden;
  float: right;
  display: none;
}
header input[type="text"] {
  float: left;
  width: 820px;
  height: 100%;
  color: #fff;
  padding: 15px;
  border: none;
  font-size: 1.6em;
  margin: 0px 10px;
}
p#showsearch {
  float: right;
  margin-left: 10px;
  text-align: center;
}
.updates{
  background: url('imgs/geo3.png');
}
.updates li {
  padding: 10px;
  border-bottom: 1px solid #1d568e;
  text-shadow: 1px 1px 2px #1d568e;
  overflow: hidden;
  position: relative;
}
.updates li:first-child{
  opacity: 1;
  box-shadow: 0px 5px 3px #000000;
}
.updates h1 {
  color: rgba(255, 255, 255, 0.9);
  word-spacing: -3px;
  font-size: 1.5em;
  padding: 5px 0px;
  text-transform: capitalize;
}
.updates h2{
  text-transform: capitalize;
  font-size: 1.3em;
}
#novellist h5{
  text-transform: capitalize;
  padding: 6px 0px;
}
#novellist ul li{
  cursor: pointer;
}
#novellist ul li:first-child{
  cursor: initial;
}
.updates a h3 {
  margin: 5px 0px;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 1.1em;
}
.updates ul li img{
  width: 45px;
  position: absolute;
  top: 6px;
  right: 6px;
}
a.sublinks{
  margin-right: 10px;
  font-size: .9em;
  transition: color .2s;
}
.updates a span.icones {
    padding-right: 10px;
}
span.numbers {
  float: right;
  font-size: 4em;
  font-weight: bold;
  opacity: 0.1;
  transform: scale(2.2);
  letter-spacing: -10px;
}
p#date {
  font-size: .7em;
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 2px 4px;
  text-shadow: none;
  opacity: .5;
}
span.bookups {
  position: absolute;
  right: 10px; top: 10px;
  display: none;
}
#novelsearsh ul li img{
  right: 20px;
  top: 15px;
}
span.globoscorescore {
  color: #feec4e;
}
/*Gnr style < end >*/

/*Hover <start>*/
.updates li:hover{
  opacity: 1;
  box-shadow: 0px 5px 2px #000000;
}
.updates li:last-child:hover{
  box-shadow: none;
}
.updates li:hover a h3{
  color: #FFEB3B;
}
.updates li:hover span.bookups {
  display: block;
}
a.sublinks:hover{
  color: #FFEB3B;
}
/*Hover < end >*/

/*night mode <start>*/
.night{
  background: #000;
}
header a.noafter:after{
  content: none;
}
.night li, .night p, .night input[type="text"]{
  background: #000;
}
.night ul li {
  border-bottom: 1px solid #848484;
  text-shadow: none;
}
.switsh.night ul li, .icon-search.night, .icon-cancel.night{
  border: 1px solid #848484;
  color: #fff;
}
.night input[type="text"]{
  border: 1px solid #848484;
}
.updates.night li:first-child {
  border-top: 1px solid #848484;
}
/*night mode <end>*/
