/* rev_Default <start> */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  cursor: inherit;
}
*,*:after,*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a{
  text-decoration: none;
  color: #313131;
}
a:focus {
  outline: thin dashed #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input::placeholder{
  color: #fff;
  opacity: .6;
}
/* rev_Default < end >*/
body{
  font-family: 'El Messiri', sans-serif;  
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAPElEQVQoU2P8DwQMOMDDhw8ZGHEpAEnKy8tjVwCTBBmMYQKyJIYCdEkUBdgk4QpwSYIVPHjw4D/ItbgAAOTxNIyBI2oPAAAAAElFTkSuQmCC) repeat;
}
#wrap{
  width: 960px;
  margin: 20px auto;
}
#menu, #items li, ul#vid, #news-catg li, div#slider-nav{
  background: #fff;
  border: 1px dotted #c1c1c1;
}
#menu li, #items li img, #items li h2, ul#vid li, #news-catg li h2{
 border-bottom: 1px dashed #929292;
}
#menu, ul#vid, #news-catg li{
  border-radius: 5px;
}
#last-news, #items, #vid, #menu{
  height: 480px;
  position: relative;
  margin-bottom: 20px;
  float: right;
}
#menu{
  width: 130px;
}
#menu, div#last-news{
  margin-left: 20px;
}
#menu li {
  height: 8.33333333333%;
}
#menu li a{
  padding: 8px;
  display: block;
}
#menu li:last-child, ul#vid li:last-child {
  border: none;
}
#last-news, #items{
  width: 470px;
}
#items li{
  width: 470px; height: 430px;
  overflow: hidden;
  position: absolute;
  display: none;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
}
#items li:first-child{
  display: block;
}
#items li img{
  width: 470px; height: 310px;
  display: block;
}
#items li h2{
  height: 50px;
  line-height: 1.5em;
}
#items li h2, #vid h2{
  font-size: 1.1em;
  letter-spacing: -1px;
}
.news li p{
  color: #4c4c4c;
  text-align: justify;
  height: 70px;
}
#items li h2, #items li p{
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
#items li span{
  position: absolute;
  top: 0; right: 0;
  background: #ffffff;
  font-size: .7em;
  padding: 3px 8px 0px;
  border-bottom-left-radius: 5px;
}
div#slider-nav {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 13px 0px;
  border-radius: 0px 0px 5px 5px;
}
div#slider-nav button {
  width: 22px;
  line-height: 22px;
  font-family: cursive;
  background: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}
div#slider-nav button:first-of-type {
  float: right;
  margin-left: 3px;
}
div#slider-nav button:last-of-type {
  float: right;
}
#pagina{
  display: inline;
}
#pagina li {
  width: 22px; height: 22px;
  float: right;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  margin-left: 3px;
  border-radius: 2px;
}
.active-pag{
  background: #ffe100;
  border: 1px dashed #6d6d6d;
}
ul#vid {
  width: 320px;
}
ul#vid li {
  height: 14.2857142857%;
}
#vid li h1, #vid li h2 {
  height: 100%;
  padding: 0px 10px;
}
#vid li h1, #news-catg li h1{
  color: #585858;
  font-size: 1.8em;
  font-weight: normal;
  letter-spacing: -2px;
}
#vid li h1, #vid li h2, #news-catg li h1, #news-catg li h2, #news-catg li p{
  display: flex;
  align-items: center;
}
#vid img {
  display: block;
  clear: both;  
}
#vid li:last-child img {
    width: 32.3%;
}
#vid img, #news-catg li img {
  height: 100%;
  float: right;
  border-left: 1px dashed #e0e0e0;
}
#news-catg{
  clear: both;
}
#news-catg .news{
  overflow: hidden;
}
#news-catg li{
  width: 470px; height: 160px;
  overflow: hidden;
  float: right;
  margin-bottom: 20px;
}
#news-catg li:nth-child(2n){
  margin-right: 20px;
}
#news-catg li img{
  width: 240px;
}
#news-catg li h1{
  width: 100%; height: 100%;
  font-size: 3em;
  letter-spacing: -5px;
  justify-content: center;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAOUlEQVQoU2N88ODBf3l5eQZcgPE/EDx8+JABlyKwApBuXIrgCnApQlGATRGGAnRFWBUgK8KpAKYIAIO+NIwQSoCeAAAAAElFTkSuQmCC) repeat;
}
#news-catg li h2{
  height: 70px;
  font-size: 1em;
  line-height: 1.2em;
  padding: 10px 5px;
}
#news-catg li p{
  height: 90px;
  line-height: 1.3em;
  text-align: right;
  padding: 0px 10px;
  text-shadow: 0px 0px #040404;
}